.nav-button {
  width: 90%;
  text-transform: none;
  color: white;
  height: 23%;
  margin: 1%;
  font-size: 30%;
}

.button-progress {
  background-color: #FFA730;
}

.button-goals {
  background-color: #E71D36;
}

.button-interventions {
  background-color: #2EC4B6;
}

.button-settings {
  background-color: #011627;
}