.detail-label {
  font-size: 20%;
  padding: 4%;
}

.small {
  font-size: 17%;
}

.detail-icon {
  width: 10%;
}

#title {
  font-size: 25%;
  text-align: center;
  color: steelblue;
}

#description {
  text-align: center;
  font-size: 15%;
}

#button {
  margin: 3%;
  background-color: #FFA730;
  color: white;
}

#name {
  margin-left: 4%;
  padding-top: 12%;
  padding-bottom: 12%;
  font-size: 19%;
  vertical-align: middle;
}

.detail-grid {
  border-color: lightgray;
  border-bottom-width: 1px;
}

.easy {
  color: green;
}

.medium {
  color: orange;
}

.hard {
  color: red;
}

.level-layout {
  flex-direction: row;
  justify-content: center;
}

.disable-layout {
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.main-container {
  padding: 10%;
}