Page {
	background-color: #67D4C9;
	text-align: center;
}

Label {
	color: white;
	text-align: center;
}

.title {
	font-size: 28%;
	margin-top: 5%;
	padding: 5%;
}

.subtitle {
	margin-top:1%;
	font-size: 15%;
	padding:5%;
	margin-bottom: 5%;
}


Button {
	padding: 5%;
	width: 30%;
	/*margin: 10%;*/
	background-color: #FF9F1C;
	color: white;
}

#slides{
	height: 80%;
	margin:auto;
	background-color: rgba(255,255,255,0.4);
	border-radius: 30%;
}
	


.app-cell-img {
  width: 40%;
  left: 40%;
}

.app-cell-lbl {
  color: black;
  text-align: center;
  font-size: 10%;
}

.app-cell-usg {
  text-align: center;
  color: green;
}

.app-cell-selector {
  width: 30%;
  transform: translate(80%, -5%);
}


.app-cell {
  align-contents: middle;
}

.grid-cell-layout {
  padding-bottom: 10%;
  padding-top: 10%;
}