.small-text {
	font-size: 10;
	color: #E0696B;

}

.number-emphasis {
	font-size: 30;

}

Label {
	text-align: center;
}

.button {
	color: #011627;
	font-size: 25;
	background-color: #FFA730;
}



.normal-text {
	padding: 5;
	font-size: 20;
}

.left-elem {
	margin-right: 10;
}

.right-elem {
	margin-left: 10;
}

#numbers {
	font-size: 30;
	color: #E71D36;
}


