.sidedrawer-left {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  color: black;
}

.sidedrawer-header {
  height: 30%;
  background-size: 100% 100%;
  border-bottom-width: 4%;
  border-color: #D3D3D3;
}

.sd-icon {
  height: 25%;
  margin: 4%;
  margin-left: 0;
}

.sd-title {
  font-size: 25%;
  color: white;
}

.sidedrawer-content {
  height: 70%;
}

#progress-icon {
  background-color: #FFA730;
}

#watchlist-icon {
  background-color: #E71D36;
}

#nudges-icon {
  background-color: #2EC4B6;
}

#goals-icon {
  background-color: #72e500;
}

#settings-icon {
  background-color: #011627;
}

.side-icon {
  padding: 7%;
  padding-left: 0;
  padding-right: 0;
  height: 70%;
  border-radius: 50%;
  margin-right: 7%;
  margin-left: 7%;
}

.side-option {
  width: 100%;
  height: 16%;
}

.bottom-option {
  height: 45%;
}

.bottom-label {
  vertical-align: middle;
}

.bottom-label {
  font-size: 15%;
  vertical-align: middle;
}

.bottom-icon {
  padding: 7%;
  padding-left: 0;
  padding-right: 0;
  height: 70%;
  border-radius: 50%;
  margin-right: 7%;
  margin-left: 7%;
  background-color: gray;
}

.side-label {
  font-size: 17%;
  vertical-align: middle;
}

.selected-option {
  background-color: #F5F5F5;
}

.subdrawer-content {
  height: 75%;
}

.bottom-drawer-content {
  width: 100%;
}