.sidedrawer-left {
  height: 100%;
  background-color: #FFFFFF;
  color: black;
}

.sidedrawer-header {
  height: 30%;
  background-color: #9fc6c6;
}

.sidedrawer-content {
  height: 70%;
}

.header-icon {
  height: 5%;
  margin: 2.5%;
}

.header-label {
  margin-left: 5%;
  font-size: 30%;
  vertical-align: bottom;
}

#progress {
  background-color: #FFA730;
}

#goals {
  background-color: #E71D36;
}

#nudges {
  background-color: #2EC4B6;
}

#settings {
  background-color: #72e500;
}

#feedback {
  background-color: #011627;
}

.side-icon {
  padding: 7%;
  padding-left: 0;
  padding-right: 0;
  height: 70%;
  border-radius: 50%;
  margin-right: 7%;
  margin-left: 7%;
}

.side-option {
  width: 100%;
  height: 15%;
}

.side-label {
  font-size: 20%;
  vertical-align: middle;
}

.selected-option {
  background-color: #F5F5F5;
}
