.sidedrawer-header {
  height: 20%;
  vertical-align: middle;
}

.sideLabel {
    font-size: 15;
    padding: 20;
    color: #011627;
}

.header {
	color: #011627;
	text-align: left;
    vertical-align: center;
}

#last {
	margin-bottom: 200;
}
.sidedrawer-list-item-text {
  font-size: 18;
  color: blue;
  padding: 10;
}