.sidedrawer-list-item-text {
	padding: 10;

}

.widget .seperator.extralight-border {
	display: none;
}




.sidedrawer-content {

}

.sidedrawer-header-brand {
	height: 56;
	text-align: center;
	vertical-align: center;
}
