.section-title {
  font-size: 23%;
  text-align: center;
  padding: 5%;
  color: #FFA730;
}

.section-title-watchlist {
  font-size: 23%;
  text-align: center;
  padding: 5%;
  padding-top: 15%;
  color: #FFA730;
}


.label-and-icon {
  margin-top: 3%;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}

.goal-scroll {
  padding-right: 6%;
  padding-left: 6%;
}

#scroll {
  height: 89%;
  margin-top: 2%;
}

.endButtons {
  background-color: #69BD68;
  color: white;
  height: 11%;
}