Page{
  background-color: #67D4C9;
}

Label {
	text-align: center;
	width: 90%;
	color: white;
}

Button {
	padding: 5%;
	width: 70%;
	margin: 3%;
	background-color: #FF9F1C;
	color: white;
}



.title {
	font-size: 28%;
	margin: 5%;
	padding-top: 28%;

}

.subtitle {
	margin-top: 3%;
	font-size: 15%;

}

.firstVideo {
	height: 60%;
}

.help {
	margin-top: 100px;
}