Label {
	color: white;
	text-align: center;
}

Image {
	width: 120;
	height: 120;
	vertical-align: middle;
	margin-top: 50;
	margin-bottom: 70;
}

#title {
	margin-top: 100;
	font-size: 32;
}

#subtitle {
	font-size: 25;
}

#swipe {
	margin-top: 30;
	font-size: 18;
	animation-name: opacity;
	animation-duration: 4;
}
@keyframes opacity {
	from {opacity: 0;}
	to {opacity: 1;}
}