.goal-icon {
  width: 12%;
}

.goal-name {
  width: 30%;
  font-size: 18%;
  margin-left: 1%;
}

.goal-label {
  width: 15%;
  font-size: 17%;
  margin-left: 1%;
}

.goal-label-nowidth {
  font-size: 18%;
  margin-left: 1%; 
}

.np-text {
  width: 40%;
  text-align: center;
}

.np-button {
  width: 30%;
  font-size: 12%;
  background-color: #2EC4B6;
  color: white;
  margin: 0;
}

.np {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 2%;
}

.flex {
  justify-content: center;
  align-items: center;
}