.app-detail-title {
  font-size: 24%;
  text-align: center;
  margin-left: 2%;
}

.enabled-nudges-title {
  font-size: 21%;
  text-align: center;
  color: #FFA730;
}

.app-detail-label {
  font-size: 20%;
  padding: 4%;
}

.app-detail-icon {
  height: 10%;
}

.app-detail-grid {
  margin: 4%;
  border-color: lightgray;
  border-bottom-width: 1px;
}

.good {
  color: green;
}

.medium {
  color: orange;
}

.bad {
  color: red;
}

#name {
  padding-top: 12%;
  padding-bottom: 12%;
  font-size: 19%;
  vertical-align: middle;
}

.app-detail-flex-layout {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small {
  font-size: 16%;
}

#title-layout {
  margin-top: 2%;
  vertical-align: middle;
}

.manage-title {
  color: #FFA730;
  margin: 2%;
  font-size: 22%;
  text-align: center;
}