.app-detail-title {
  font-size: 24%;
  text-align: center;
  margin-left: 2%;
}

.app-detail-subtitle {
  font-size: 21%;
  text-align: center;
  color: #FFA730;
}

.app-detail-label {
  font-size: 18%;
  vertical-align: middle;
  padding: 0;
}

.app-detail-icon {
  height: 10%;
}

.app-detail-grid {
  border-color: lightgray;
  border-bottom-width: 1px;
  padding: 10%;
}

.app-detail-nudge-description {
  font-size: 11%;
  color: darkgray;
}

.app-intervention-icon {
  background-color: gray;
  height: 60%;
  border-radius: 50%;
  margin: 2%;
  margin-right: 4%;
  padding: 5%;
}

.app-detail-disable-button {
  font-size: 11%;
  text-transform: none;
  background-color: #E71D36;
  color: white;
}

.good {
  color: green;
}

.medium {
  color: orange;
}

.bad {
  color: red;
}

.easy-level {
  border-color: green;
  border-left-width: 5px;
}

.medium-level {
  border-color: orange;
  border-left-width: 5px;
}

.difficult-level {
  border-color: red;
  border-left-width: 5px;
}

.app-detail-flex-layout {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-padded {
  padding-top: 20%;
}

.goal-changer {
  padding-top: 6%;
}

.small {
  font-size: 16%;
}

#title-layout {
  margin-top: 2%;
  vertical-align: middle;
}

.manage-title {
  color: #FFA730;
  margin: 2%;
  font-size: 22%;
  text-align: center;
}