@import "nativescript-theme-core/css/core.light.css";
@import url('~/platform.css');

Page.onboarding {
  background-image: url("res://background")
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.action-bar {
	background-color: #77C2FF;
	color: white;

}