.manage-button {
  background-color: #69BD68;
  color: white;
  height: 10%;
}

.watchlist-elem {
  border-color: lightgray;
  border-bottom-width: 1px;
  padding: 7%;
}

.watchlist-icon {
  padding: 5%;
  width: 15%;
}

.watchlist-label {
  font-size: 18%;
  margin-left: 4%;
  vertical-align: middle;
}

.watchlist-scroll {
  height: 90%;
}

.scrollable-stack {
  padding-right: 10%;
  padding-left: 10%;
}

.stack-container {
  padding-top: 10%;
}