Page {
	background-image: url("res://background")
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
/*	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
}

Label {
	color: white;
	text-align: center;
}


StackLayout {
	vertical-align: middle;	
}

Image {
	width: 120;

}

#title {
	padding-top: 30;
	font-size: 32;
}

#welcome {
	margin-top: 80;
	font-size: 18;
	animation-name: opacity;
	animation-duration: 4;
}
@keyframes opacity {
	from {opacity: 0;}
	to {opacity: 1;}
}