Label {
	color: white;
	text-align: center;
	width: 90%;
	font-size: 20%;
}

Image {
	width: 50%;
	margin: 5%;
}

.title {
	font-size: 35%;
	margin-top: 5%;
}

.text {
	padding-bottom: 5%;
}

.padded {
	margin: 10%;
}

.slide {
	vertical-align: middle;
	padding-bottom: 35%;
}

.skip {
	font-size: 17%;
	padding-bottom: 3%;
}

.slide-indicator-inactive{
    background-color: white;
    opacity : 0.4;
    width : 8;
    height : 8;
    margin-left : 3;
    margin-right : 3;
    border-radius : 4;
}
 
.slide-indicator-active{
    background-color: white;
    opacity : 0.9;
    width : 14;
    height : 14;
    margin-left : 3;
    margin-right : 3;
    border-radius : 7;
}