Label {
	color: white;
	text-align: center;
	width: 90%;
	font-size: 20%;
}

Image {
	height: 50%;
	margin: 5%;
}

.squish {
	width: 60%;
	height: auto;
}

.title {
	font-size: 28%;
	margin-top: 5%;
}

.slide {
	vertical-align: middle;
	padding-bottom: 35%;
}

.skip {
	font-size: 17%;
	transform: translateY(-10%);
}

#slides {
	transform: translateY(40%);
}