#welcome {
	padding-top: 4%
	font-size:10%;
	font-style: italic;
}

Label {
	color: white;
	text-align: center;
	width: 90%;
	font-size: 20%;
}

Image {
	height: 50%;
	margin: 5%;
}

TextField {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

Button {
	padding: 5%;
	width: 70%;
	margin: 5%;
	background-color: #FF9F1C;
	color: white;
}

.squish {
	width: 60%;
	height: auto;
}

.title {
	font-size: 28%;
	margin-top: 5%;
}

.slide {
	vertical-align: middle;
	padding-bottom: 35%;
}

.skip {
	font-size: 17%;
	transform: translateY(-10%);
}

#slides {
	transform: translateY(40%);
}

.header {
	vertical-align: top;
	padding: 30%;
	font-size: 23%;
}

.firstSlide {
	vertical-align: top;
	padding-top: 20%;
}


#icon{
	height: 10%;
	margin: 5%;
    animation-name: opacity;
    animation-duration: 3;
}
@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

#name {
	border-bottom-color: #FFFFFF;
	border-color: #FFFFFF;
	text-align: center;
	font-size: 25%;
}

