Page {
	/*background-color: #9CD2FF;*/
	background-image: url("res://background")
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

/*.coverImage {
	background-image: url("res://background")
	background-repeat: no-repeat;
	background-position: center;
}
*/

Label {
	color: white;
	text-align: center;
}
Image {
	width: 120;
	height: 120;
	vertical-align: middle;
	margin-top: 150;
	margin-bottom: 20;
}

#title {
	font-size: 32;
}

#subtitle {
	font-size: 20;
}

#swipe {
	margin-top: 30;
	font-size: 18;
	animation-name: opacity;
	animation-duration: 4;
}
@keyframes opacity {
	from {opacity: 0;}
	to {opacity: 1;}
}