.sidedrawer-list-item-text {
	font-size: 18;
	color: blue;
	padding: 10;
}


.sidedrawer-header {
	height: 56;
	text-align: center;
	vertical-align: center;
}

Label {
  padding-left: 4%;
  font-size: 19%;
  vertical-align: middle;
}