.intervention-label {
  font-size: 18%;
  vertical-align: middle;
  padding: 0;
}

.intervention-grid {
  border-color: lightgray;
  border-bottom-width: 1px;
  padding: 10%;
}

.nudges-section-title {
  font-size: 22%;
  color: #FFA730;
  padding-top: 10%;
  padding-left: 10%;
}

.intervention-icon {
  background-color: gray;
  height: 60%;
  border-radius: 50%;
  margin: 2%;
  margin-right: 4%;
  padding: 5%;
}

.easy-level {
  border-color: green;
  border-left-width: 10px;
}

.medium-level {
  border-color: orange;
  border-left-width: 10px;
}

.hard-level {
  border-color: red;
  border-left-width: 10px;
}

#finish {
  color: red;
}

.finish-tutorial-btn {
  background-color: #69BD68;
  color: white;
  height: 10%;
}