Page {
	background-color: #67D4C9;
}

Label {
	text-align: center;
	width: 90%;
	color: white;
}



.title {
	font-size: 28%;
	margin-top: 5%;
	padding: 5%;
}

.subtitle {
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 15%;

}

.icon {
  margin: 3%;
  padding: 15%;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  /*height: 25%;*/

  vertical-align: middle;
  border-radius: 50%;
}

.mainImage {
	height: 50%;
	margin-bottom: 5%;
}

.next {
	margin-top: 3%;
}