.day-label {
  margin: 1%;
  padding: 15%;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.week-layout {
  margin: 2%;
}

.picker-label {
  margin-top: 2%;
  text-align: center;
  font-size: 20%;
  color: #2EC4B6;
}

.picker {
  height: 30%;
}

.scroll-layout {
  height: 90%;
}

.save-button {
  height: 10%;
  background-color: #69BD68;
  color: white;
}